@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-foreground font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold tracking-tight;
  }

  p {
    @apply leading-relaxed mb-4;
  }

  /* Global Shadow Removal */
  * {
    @apply shadow-none !important;
  }
}
